.rotating-text {
    display: flex;
    flex-direction: column;
    height: 40px;
    overflow: hidden;
}

.rotating-text span {
    display: block;
    animation: rotateText 10s infinite linear;
    padding-bottom: 40px;
}

@keyframes rotateText {
    0%, 8% { transform: translateY(0); }
    16.6%, 25% { transform: translateY(-100%); }
    33.2%, 41.6% { transform: translateY(-200%); }
    49.8%, 58.2% { transform: translateY(-300%); }
    66.4%, 74.8% { transform: translateY(-400%); }
    83%, 91.4% { transform: translateY(-500%); }
    100% { transform: translateY(-600%); }
}
